
<meta name="viewport" content="width=device-width, initial-scale=1">
 <div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="margin-top:30px">
      <table class="table">
        <table class="center">
          <thead class="thead-dark text-center">
  <tr>
      <th>User Story 2:<br>“As a fan, I want to see the results of all games my team has played this season”</th>

  </tr>
</thead>
<tbody>

<br><br></table>

</table>
<div class="btn-group dropdown col-md-1" style="margin-top:-30px">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    {{myTeam ? myTeam.name : "My Team"}}
  </button>
  <div class="dropdown-menu">
    <li *ngFor="let team of teams" (click)="onSelect2(team)" (click)="onSelect5(team)"> {{team.name}} <img
        src="https://squiggle.com.au/{{team.logo}}" style=vertical-align:middle;margin:0px width="50px"
        height="40px" (click)="onSelect2(team)"(click)="onSelect5(team)"><br>
    </li>
  </div>
</div>


<div *ngIf="team">
  <div class="row">
    <div class="col-md-12" style="margin-top:10px">
      <table class="table">
        <table class="center">
          <thead class="thead-dark">

              <th>Round</th>
              <th>Home Team</th>
              <th>Away Team</th>
              <th>Score</th>
              <th>Winner</th>
              <th>Venue</th>
              <th>Date</th>

            </thead>
            <tbody>
          <tr *ngFor ="let game of games">
              <td>{{game.round}}</td>
              <td>{{game.hteam}}</td>
              <td>{{game.ateam}}</td>
              <td>{{game.hscore}}-{{game.ascore}}</td>
              <td>{{game.winner}}</td>
              <td>{{game.venue}}</td>
              <td>{{game.date}}</td>
              
            </tr>
          </tbody>
        </table>
      </table>
    </div>
</div>
</div>
</div>
</div>
</div>

<footer class="footer">
  <p><strong>Website made by 20753641</strong></p>
   <p>
    <a href="#"><strong>Back to top</strong></a>
  </p>
</footer> 
