
p {text-align: center;
    padding: 16px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table.center {
      margin-left: auto; 
      margin-right: auto;
    }
    .btn-group {
      text-align: center;
    }
    li {
      padding: 5px;
    }
      th {
       
          margin: auto;
      }
  
      .container-fluid{  
        text-align: center;  
        }
  
  
        footer {
          text-align: center;
          background-color:#14151b;
          color: #fff;
          padding: 20px;
          position: fixed;
          bottom: 0;
          width: 100%;
        }
  
  