


<div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top:30px">
        <table class="table">
          <table class="center">
          <thead class="thead-dark text-center">
    <tr>
        <th>User Story 5:<br>“As a fan, I want to see the results between my team and my team’s rival this season”</th>
  
    </tr>
  </thead>
  <tbody>
  
  <br><br></table>

  
  <!--TEST DROPDOWN-->
  
  <div class="btn-group dropdown">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      My Team
    </button>
    <div class="dropdown-menu">
      <li *ngFor="let team of teams" (click)="onSelect(myTeam)"> {{team.name}} <img src="https://squiggle.com.au/{{team.logo}}" style=vertical-align:middle;margin:0px width="50px" height="40px"><br>
      </li>
    </div>
  </div>

  

  <div class="btn-group">
    <div class="btn-group dropdown" role="group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         My Rival Team
      </button>
      <div class="dropdown-menu">
        <li *ngFor="let team of teams" (click)="onSelect(myRivalTeam)"> {{team.name}} <img src="https://squiggle.com.au/{{team.logo}}" style=vertical-align:middle;margin:0px width="50px" height="40px"><br>
        </li>
      </div>
    </div> 
    
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top:10px">
        <table class="table">
          <table class="center">
          <thead class="thead-dark">      
          <tr>    
            <app-venue-results [team]="selectedTeam"></app-venue-results>
        </tr>
      </thead>
        </table>
      </table>
        </div>
  
  <!--<div class="btn-group col-md-2" >
      <button class="btn btn-secondary btn-lg dropdown-toggle" style="margin-right:60%;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Team
      </button>
      
      
        <ul class="dropdown-menu">
          <li *ngFor="let team of teams" (click)="onSelect(team)"> {{team.name}} <img src="https://squiggle.com.au/{{team.logo}}" style=vertical-align:middle;margin:0px width="50px" height="40px"><br>
          </li>
  
        </ul> 
  
      </div>
    

   
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top:10px">
        <table class="table">
          <table class="center">
          <thead class="thead-dark">      
          <tr>    
            <app-venue-results [team]="selectedTeam"></app-venue-results>
        </tr>
      </thead>
        </table>
      </table>
        </div>-->
  
        <!--SECOND DROPDOWN-->
     
      
          <!--<div class="btn-group col-md-2" >
            <button class="btn btn-secondary btn-lg dropdown-toggle" style="margin-right:60%;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Team
            </button>
            
            
              <ul class="dropdown-menu">
                <li *ngFor="let team of teams" (click)="onSelect(team)"> {{team.name}} <img src="https://squiggle.com.au/{{team.logo}}" style=vertical-align:middle;margin:0px width="50px" height="40px"><br>
                </li>
        
              </ul> 
        
            </div>
          
      
         
        <div class="container">
          <div class="row">
            <div class="col-md-12" style="margin-top:10px">
              <table class="table">
                <table class="center">
                <thead class="thead-dark">      
                <tr>    
                  <app-venue-results [team]="selectedTeam"></app-venue-results>
              </tr>
            </thead>
              </table>
            </table>
              </div>-->